// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background: image-url('HBchinatown.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Lato', sans-serif;
    color: white;
}



header {
    text-align: center;
    line-height: 0;
  
}

.icon-header {
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 900;
}

.no-gutter {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
   
}


h5 {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    text-transform: uppercase;
    font-weight: 900;
}

h5.live {
    margin-top: 20px;
    margin-left: 60px;
   
    
}

h5.work {
    margin-top: 20px;
    margin-left: 40px;
   
    
}

h5.workout {
    margin-top: 20px;
    margin-left: -10px;
   
}

h5.wellness {
    margin-top: 20px;
    margin-left: -10px;
    
}

h5.homebase {
    margin-top: 20px;
    margin-left: -10px;
    
}
p {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    font-weight: 400;
}

p.text-col {
    margin-left: -80px;
    font-weight: 400px;
}


.logo {
    width: 350px;
    margin-top: -25px;
    height: auto;
    

}

.chinatown {
    width: 400px;
}


#info-icon {
   text-align: center;
}

.info-icon1 {
    text-align: center;
    color: white;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: -70px;
}

.no-gutters {
    margin-left: -10px;
}

#hero {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    color: white;
}


.price {
    color: white;
    font-weight: 900;
}

.icon {
    width: 60px;
    
}

.icon-live {
    margin-left: -80px;
}

.icon-work {
    margin-left: -80px;
}

.icon-workout {
    margin-left: -80px;
}

.icon-wellness {
    margin-left: -80px;
}

.icon-homebase {
    margin-left: -80px;
}
span {
    margin-top: 15px;
}

.icon-text1 {
    margin-left: 20px;
}

.icon-text2 {
    margin-left: 40px;
}

footer {
    text-align: center;
    margin-top: 30px;
}


.house-white {
    width: 100px;
    margin-top: 120px;
   
}

.child-logo {
    text-align: center;
}

.number {
    color: #497EE2;
}

.unique {
    color: #DFCB81;
}



// Mailchimp CSS
#mailchimp {
	background: transparent;
	color: blue;
	padding: 20px 15px;
}
	#mailchimp input {
    border: medium none;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 8px 10px;
    width: 300px;
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
	}
		#mailchimp input.email { background: #fff }
		#mailchimp input.name { background: #fff}
		#mailchimp input[type="submit"] {
			background: blue;
			color: #fff;
			cursor: pointer;
			font-size: 15px;
			
			padding: 8px 0;

		}
			#mailchimp input[type="submit"]:hover { color: white;}

// MEDIA QUERIES

@media (max-width: 375px) {
    .icon-live {
    margin-left: -45px;
}

.icon-work {
    margin-left: -50px;
}

.icon-workout {
    margin-left: -50px;
}

.icon-wellness {
    margin-left: -45px;
}

.icon-homebase {
    margin-left: -50px;
}
p.text-col {
    margin-left: -50px;
}
    
.chinatown {
    width: 350px;
}

}

@media (max-width: 320px) {
    .icon {
        width: 70px;
    }
    
    .text {
        font-size: 13px;
    }
    
    .logo {
        width: 300px;
    }

    .icon-workout {
    margin-left: -50px;
    }

    .icon-wellness {
    margin-left: -80px;
    }

    .icon-homebase {
    margin-left: -80px;
    }

}

@media (max-width: 375px) {
    .icon {
        width: 70px;
    }
}

@media (min-width: 1920px) {
      body {
        font-size: 30px;
    
    }
    
    .info-icon1 {
        margin-bottom: 20px;
    }
    
    .title {
        font-size: 300px;
    }
    
    .logo {
        width: 800px;
    }
    
    .logo-text {
        font-size: 30px;
    }
    .arcade {
        font-size: 20px;
    }
    
    .arcade1 {
        font-size: 20px;
    }
    
    #info-icon {
        font-size: 30px;
       
    }
    
    .info-icon1 {
        font-size: 30px;
    
    }
    
    .icon {
        width: 200px;
        
    }
    
    .hero-text {
        font-size: 30px;
    }
    
    .lead {
        font-size: 30px;
    }
    
  //  .no-gutters {
//   margin-left: -200px; 
      
  // }
    

} 


@media (min-width: 1024px) and (min-width: 768px) {
      body {
        font-size: 30px;
    
    }
    
    .title {
        font-size: 100px;
        margin-top: -150px;
    }
    
     .logo {
        width: 600px;
    }
    
    .logo-text {
        font-size: 20px;
    }
    
    .arcade {
        font-size: 20px;
    }
    
    .arcade1 {
        font-size: 20px;
    }
    
   #info-icon {
    font-size: 30px;
     
   }
    
    .info-icon1 {
        font-size: 30px;
        margin-bottom: 30px;
       
    }
    
    .icon {
        width: 200px;
        
    }
    
    .hero-text {
        font-size: 30px;
    }
    
    .lead {
        font-size: 30px;
    }
    
    .no-gutters {
    
   }
    
    h5.live {
    font-size: 30px;
}

h5.work {
    font-size: 30px;
}

h5.workout {
    font-size: 30px;
}

h5.wellness {
    font-size: 30px;
}

h5.homebase {
    font-size: 30px;
}
    
.icon-live {
    margin-left: -30px;
}

.icon-work {
    margin-left: -30px;
}

.icon-workout {
    margin-left: -30px;
}

.icon-wellness {
    margin-left: -30px;
}

.icon-homebase {
    margin-left: -30px;
}
    
h5.live {
    margin-top: 80px;
    margin-left: 60px;
   
    
}

h5.work {
    margin-top: 80px;
    margin-left: 40px;
   
    
}

h5.workout {
    margin-top: 80px;
    margin-left: -10px;
   
}

h5.wellness {
    margin-top: 80px;
    margin-left: -10px;
    
}

h5.homebase {
    margin-top: 80px;
    margin-left: -10px;
    
}
    
p.text-col {
    margin-top: 70px;
}
    

}  




    
